*.DS_Store
*.erb
*.ico
*.jpg
*.keep
*.lock
*.md
*.png
*.scss
*.sh
*.svg
*.webmanifest
*.xml
*.yml
.babelrc
.dockerignore
.env
.git/*
.gitignore
.nvmrc
.prettierignore
.prettierrc.json
.ruby-version
.stylelintrc
bin/*
config.ru
db/schema.rb
docker-compose.yml
Dockerfile
entrypoint.sh
Gemfile
log/*
node_modules/*
public/*
Rakefile
sqlite/*
storage/*
tmp/*
vendor/*
yarn-error.log
