version: '3'

services:
  girder:
    image: girder/girder:${SIMPLEE_FOOD_DOCKER_TAG:-latest}
    build:
      context: .
    environment:
      RACK_ENV: production
    extra_hosts:
      # Allow accessing services running on `localhost`, outside the container
      - host.docker.internal:host-gateway
    ports:
      # HOST:CONTAINER
      - ${SIMPLEE_FOOD_APP_PORT:-8080}:8080
    volumes:
      - ./sqlite:/server/sqlite
