<div class="content">
  <form class="auth__form" method="post" action="/login">
    <%= erb(:"shared/logo") %>
    <%= erb(:"shared/flash") %>

    <div class="auth__form-block">
      <label class="" for="login-username">username</label>
      <input type="text" autocomplete="off" name="login[username]" id="login-username" class="form-control" />
    </div>

    <div class="auth__form-block">
      <label class="" for="login-password">password</label>
      <input type="password" name="login[password]" id="login-password" class="form-control" />
    </div>

    <%#
      Even if `params[:dest]` is URL encoded, it will be automatically decoded here.
      So the subsequent form POST request to the backend will include the decoded param
      (e.g. "/recipes/foo/edit")
    %>
    <input type="hidden" name="dest" value="<%= params[:dest] %>" />

    <button type="submit" class="auth__form-submit-btn btn--hollow">log in</button>
  </form>
</div>
