<div class="content">
  <form class="auth__form" method="post" action="/login">
    <h1>Log In</h1>

    <%= erb(:"shared/flash") %>

    <div class="auth__form-block">
      <label class="" for="login-username">username</label>
      <input type="text" name="login[username]" id="login-username" class="form-control" />
    </div>

    <div class="auth__form-block">
      <label class="" for="login-password">password</label>
      <input type="password" name="login[password]" id="login-password" class="form-control" />
    </div>

    <button type="submit" class="auth__form-submit-btn btn--hollow">log in</button>
  </form>
</div>
