<div class="content">
  <%= erb(:"shared/nav") %>

  <div class="recipe-title-bar">
    <% if @tag %>
    <h1>Recipes Tagged <span class="tag"><%= @tag.name %></span></h1>
    <% else %>
    <h1>Recipes</h1>
    <% end %>
    </h1>

    <% if @user %>
    <a href="/recipes/new">
      <button class="recipes-index__create-btn btn--hollow">
        Add Recipe
      </button>
    </a>
    <% end %>
  </div>

  <%= erb(:"shared/flash") %>

  <div class="recipes-index__search-container">
    <input
      class="recipes-index__search-input"
      placeholder="search recipes"
      type="search"
      onkeyup="SimpleeFood.debounce(SimpleeFood.onRecipeSearch, 250);"
      />
    <button
      class="recipes-index__search-clear-btn"
      aria-label="Clear input"
      title="Clear input"
      onclick="SimpleeFood.onRecipeSearchClear(event)"
    >×</button>
  </div>


  <% if Recipe.count > 0 %>
  <%=
    erb(
      :"recipes/recipe-item",
      {},
      recipes: @recipes,
      sort_by: @sort_by,
      tag: @tag,
      pagination: @pagination
    )
  %>
  <% else %>
  <span class="recipes-index__empty-state">
    You have no recipes (yet!)
  </span>
  <% end %>
</div>
