<div class="content">
  <%= erb(:"shared/nav") %>

  <div class="recipe-title-bar">
    <h1>Recipes</h1>
    <a href="/recipes/new">
      <button class="recipes-index__create-btn btn--hollow">
        Add Recipe
      </button>
    </a>
  </div>

  <span id="flash"></span>

  <input
    class="recipes-index__search"
    placeholder="search recipes"
    type = "text"
    onkeyup = "SimpleeFood.onRecipeSearch(event);"
    />

  <% if Recipe.count > 0 %>
  <%=
    erb(
      :"recipes/recipe-item",
      {},
      recipes: @recipes,
      sort_by: @sort_by,
      tag: @tag,
      pagination: @pagination
    )
  %>
  <% else %>
  <span class="recipes-index__empty-state">
    You have no recipes (yet!)
  </span>
  <% end %>
</div>
