<div class="content">
  <%= erb(:"shared/nav") %>

  <div class="recipe-title-bar">
    <% if @tag %>
    <h1>Recipes Tagged <span class="tag"><%= @tag.name %></span></h1>
    <% else %>
    <h1>Recipes</h1>
    <% end %>
    </h1>

    <% if @user %>
    <a href="/recipes/new">
      <button class="recipes-index__create-btn btn--hollow">
        Add Recipe
      </button>
    </a>
    <% end %>
  </div>

  <%= erb(:"shared/flash") %>

  <input
    class="recipes-index__search"
    placeholder="search recipes"
    type = "text"
    onkeyup="SimpleeFood.debounce(SimpleeFood.onRecipeSearch, 250);"
    />

  <% if Recipe.count > 0 %>
  <%=
    erb(
      :"recipes/recipe-item",
      {},
      recipes: @recipes,
      sort_by: @sort_by,
      tag: @tag,
      pagination: @pagination
    )
  %>
  <% else %>
  <span class="recipes-index__empty-state">
    You have no recipes (yet!)
  </span>
  <% end %>
</div>
