@import '../shared/colors.scss';

.recipes-edit__form {
  padding: 20px 0;
  background-color: $off-white;

  // Apply only to the submit at the bottom of the page
  .recipes-edit__save-btn {
    margin-top: 50px;
  }
}

.recipes-edit__image-preview {
  width: 250px;
  min-width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.recipes-edit__image-select {
  display: none;
}

.recipes-edit__image-select-label {
  margin-top: 5px;
  padding: 7px;
  cursor: pointer;
}

.recipes-edit__field-block {
  margin-top: 35px;

  > label, > h3 {
    display: block;
    color: $dark-gray;
    font-weight: 700;
    font-size: 20px;
  }

  input {
    width: 300px;
  }
}

.recipes-edit__sortable-list {
}

.recipes-edit__sortable-list-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: grab;
  transition: background-color 1s ease-out;

  &.selected {
    background-color: $pale-aqua;
  }

  input {
    // Override global input styling
    width: 100%;
    margin: 5px 0;
  }

  textarea {
    // Override global textarea styling
    width: 100%;
    height: 75px;
    margin: 5px 0;
  }

  svg, path {
    width: 22px;
    height: 22px;
    fill: $dark-gray;
  }

  button {
    width: 30px;
    margin-left: 10px;
    background-color: transparent;
  }
}

.recipes-edit__sortable-list-actions {
}

.recipes-edit__add-sortable-item-btn {
  margin-right: 5px;
}

.recipes-edit__bulk-add-sortable-item-btn {
}

.recipes-edit__bulk-add-sortable-item-modal {
}

.recipes-edit__bulk-add-sortable-item-close-btn {
}

.recipes-edit__bulk-add-sortable-item-open-btn {
}

#recipe-ingredients {
}

#recipe-instructions {
}

.recipes-edit__tags {

  padding-left: 10px;

  input[type="checkbox"] {
    // Override global input styling
    width: 20px;
    margin: 2px 5px 2px 0;
    vertical-align: middle;
  }
}

.recipes-edit__save-btn {
  background-color: $neon-green;
}

.recipes-edit__cancel-btn {
  margin-left: 10px;
}
