@import '../shared/tags.scss';

.recipes-index__create-btn {
  background-color: #00F535;
}

.recipes-index__search-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.recipes-index__search-input {
  width: 100%;
  border: 1px black solid;
  border-radius: 0;
}
.recipes-index__search-clear-btn {
  position: absolute;
  top: 16px;
  right: 6px;
  bottom: 0;
  /* hide the button initially */
  display: none;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 2px;
  color: white;
  font-size: 18px;
  background: #444;
  border: none;
  cursor: pointer;
  appearance: none;

  &:hover {
    background: darkgray;
  }
}
.recipes-index__search-input--touched + .recipes-index__search-clear-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.recipes-index__empty-state {
  margin: 10px 0;
  color: darkgrey;
  font-style: italic;
}

.recipes-index__action-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  margin-bottom: 20px;

  button {
    height: 36px;
    margin: 0;
    font-weight: 400;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
  }
}

.recipes-index__sort-by {
  button {
    font-size: 14px;

    // Both boxes have a shared border, which appears double thickness
    &:first-child {
      border-right-width: 0;
    }

    &.selected {
      background-color: #eee;
    }
  }
}

.recipes-index__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: auto;

  .nav-arrow {
    width: 28px;
    height: 28px;
    border: 1px solid black;
    cursor: pointer;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  span {
    margin: 0 5px;
    /* matches height of action bar */
    line-height: 36px;
  }
}

.recipes-index__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipes-index__item {
  display: flex;
  height: 100px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f4ffff;
  border: 1px solid black;

  img {
    width: auto;
    height: 100%;
  }
}

.recipes-index__item--image {
  width: 100px;
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid black;

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}

.recipes-index__item--details {
  flex-grow: 1;
  // When a flex child contains further child elements, the text truncation
  // does not work as expected.
  //
  // See: https://css-tricks.com/flexbox-truncated-text/
  //
  // In this case, the `--details` element is a flex child, and itself contains
  // child elements like the `<span>` inside it.
  //
  // The solution is
  //  1. Apply `min-width: 0` to this flex child, as the article suggests
  //  2. Make the `<span>` width 100%, for which it also needs to be an inline-block
  min-width: 0;
  margin-left: 15px;

  span:first-child {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    font-weight: 700;
    font-size: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
      color: black;
      text-decoration: none;
    }
  }
}

.recipes-index__tags {
  margin-top: 14px;
}

@media screen and (max-width: 600px) {
  .recipes-index__action-bar {
    flex-direction: column;
    align-items: flex-start;
    height: initial;
  }
  .recipes-index__sort-by {
    margin-bottom: 10px;
  }
  .recipes-index__pagination {
    margin-left: 0;
  }
}
