.recipe-show__edit-btn {
  width: 100px;
  min-width: 100px;
}

.recipe-show__header-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 50px;
}

.recipe-show__header-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 3px;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.recipe-show__header-toolbar {
  display: flex;
  padding: 10px 0 0 0;
}

.recipe-show__header-share-link {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;

  .floating-tooltip {
    top: 25px;
  }
}

.recipe-show__header-source-url {
}

.recipe-show__serving-size {
  display: inline-block;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: #EA9999;
  border-width: 1px;
  border-radius: 3px;
}

.recipe-show__instructions {
  display: flex;
}

.recipe-show__ingredients {
  width: 350px;
  min-width: 350px;
  border-right: 1px silver solid;

  input[type='checkbox'] {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }
  label {
    display: inline;
    font-size: 18px;
    line-height: 50px;
    vertical-align: middle;
  }
  input[type='checkbox']:checked + label {
    text-decoration: line-through;
  }
}

.recipe-show__steps {
  padding-left: 30px;

  ul {
    margin-top: 30px;
    padding: 0;
  }
}

.recipe-show__step-item {
  display: flex;
  margin-bottom: 30px;

  &.selected {
    opacity: 0.5;
  }
}

.recipe-show__step-number {
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 25px;
  color: white;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

.recipe-show__step-text {
  margin: 0;
  font-size: 18px;
}

.recipe-show__created-at {
  margin-top: 20px;
}

.recipe-show__delete-btn {
  margin-top: 75px;

  & a {
    color: red;
  }
}

@media screen and (max-width: 980px) {
  .recipe-show__instructions {
    flex-direction: column;
    align-items: stretch;
  }

  .recipe-show__ingredients {
    width: 100%;
    padding: 0 20px;
    border-right: none;
  }

  .recipe-show__steps {
    margin-top: 20px;
    padding: 0 20px;
  }
}
