// Set body to full height and display as flex in order to implement a sticky
// footer
// See: https://css-tricks.com/couple-takes-sticky-footer/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

a:link, a:visited, a:hover, a:active {
  color: blue;
}

button {
  color: black;
  font-size: 16px;
}

input, textarea {
  box-sizing: border-box;
  width: 300px;
  height: 36px;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 16px;
}

input {
  line-height: 48px;

  &:disabled {
    opacity: 0.40;
  }
}

input[type='radio'] {
  width: initial;
  height: initial;
}

ul {
  padding: 0;
  list-style-type: none;
}
