#flash {
  display: none;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #ffffed;
  border: 1px solid #ddd;

  &.active {
    display: initial;
  }

  & > span {
    margin-right: 5px;
  }

  &.flash--error > span {
    color: red;
  }

  &.flash--notice > span {
    color: gray;
  }

  &.flash--success > span {
    color: green;
  }
}

.floating-tooltip {
  position: absolute;
  padding: 5px 8px;
  color: black;
  background-color: #FBDB65;
  border-radius: 4px;
}
