@import './colors.scss';

#flash {
  display: none;
  // Margin height has to include padding of child element (10px), so make it
  // 20px so it actually ends up as 10px margin.
  margin: 20px 0;
  text-align: center;

  &.active {
    display: block;
  }

  .flash__content {
    display: inline;
    padding: 10px 20px;
    background-color: $off-white;
    border: 1px solid $light-gray;

    & > span {
      margin-right: 5px;
    }
  }

  &.flash--error > span {
    color: red;
  }

  &.flash--notice > span {
    color: gray;
  }

  &.flash--success > span {
    color: green;
  }
}

.floating-tooltip {
  position: absolute;
  padding: 5px 8px;
  color: black;
  background-color: $neon-green;
  border-radius: 4px;
}
