@import './colors.scss';

#flash {
  display: none;
  // Margin height has to include padding of child element (10px), so make it
  // 20px so it actually ends up as 10px margin.
  margin: 20px 0;
  text-align: center;

  &.active {
    display: block;
  }

  &.flash--error {
    .flash__content {
      background-color: $light-rose;
    }
  }

  &.flash--notice {
    .flash__content {
      background-color: $off-white;
    }
  }

  &.flash--success {
    .flash__content {
      background-color: $neon-green;
    }
  }

  .flash__content {
    display: inline;
    padding: 10px 20px;
    background-color: $off-white;
    border: 1px solid $light-gray;

    & > span {
      margin-right: 5px;
    }
  }
}
