// `content` and `footer` are flex items under the <body> in order to implement
// a sticky footer
// See: https://css-tricks.com/couple-takes-sticky-footer/

.content {
  flex: 1 0 auto;
  width: 980px;
  margin: 0 auto;
  padding: 40px 0;
}
@media screen and (max-width: 980px) {
  .content {
    width: 100%;
  }
}

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  // Use padding-bottom over margin-bottom since this flex child is pushed
  // all the way down
  padding-bottom: 20px;

  & > *:not(:last-child) {
    margin-right: 6px;
  }
}

.recipe-title-bar {
  display: flex;
  align-items: flex-start;
  // Replace the default margin on h1
  margin: 40px 0;

  h1 {
    // Remove the default margin on `h1`
    margin: 0;
    margin-right: 10px;
  }

  a, button {
    margin-left: auto;
  }
}
