.content {
  width: 980px;
  margin: 0 auto;
  padding: 40px 0;
}

.recipe-title-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  button {
    margin-left: auto;
  }
}
