<%
  flash_key = flash.to_h.keys.first
  classes = flash_key ? ["flash--#{flash_key}", "active"] : []
%>

<%#
  We always generate the `#flash` div container, so that JS can programmatically
  set the flash on the page.

  However the display is controlled by the presence/absence of the `active`
  class, which is only set if there is a flash to be displayed.
%>
<div id="flash" class="<%= classes.join(' ') %>">
  <div class="flash__content">
    <span><%= flash[flash_key] %></span>
    (<a href="#" onclick="SimpleeFood.clearFlash()">dismiss</a>)
  </div>
</div>
