<nav>
  <a href="/recipes">recipes</a>
  <span>&nbsp;|&nbsp;</span>
  <a href="/tags">tags</a>
  <% if @user %>
  <span>&nbsp;|&nbsp;</span>
  <a href="/settings">settings</a>
  <% end %>

  <% if @user %>
  <span class="nav--auth"><b>👤 <%= @user.name %></b></span>
  &nbsp;(<a href="/logout">logout</a>)
  <% else %>
  <a class="nav--auth" href="/login">login</a>
  <% end %>
</nav>
