<nav>
  <a href="/recipes">recipes</a>
  <span>&nbsp;|&nbsp;</span>
  <a href="/tags">tags</a>
  <% if @user %>
  <span>&nbsp;|&nbsp;</span>
  <a href="/settings">settings</a>
  <% end %>

  <% if @user %>
  <span class="nav--auth"><b><%= @user.name %></b></span>
  <span>(<a href="/logout">logout</a>)</span>
  <% else %>
  <%
    # When logging in, ensure user is ultimately redirect back to current path
    dest = URI.encode_www_form_component(request.fullpath)
  %>
  <a class="nav--auth" href="/login?dest=<%= dest %>">login</a>
  <% end %>
</nav>
