@import '../shared/colors.scss';

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .logo {
    // Override the logo, just on this page. It should be full width of the form
    width: 300px;
    height: initial;
  }
}

.auth__form-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    font-weight: 700;
  }
}

.auth__form-submit-btn {
  width: 300px;
  margin-top: 35px;
  background-color: $neon-green;
}
